.city-card {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.city-card h3 {
  margin: 0;
}

.city-card p {
  margin: 5px 0;
}

.card-btn {
  padding: 8px 15px;
  background-color: #1e1b2e;
  color: white;
  border-radius: 5px;
  margin-left: 4px;
  margin-top: 5px;
  cursor: pointer;

  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #723187;
    transform: translateY(-2px);
  }
}
