.city-details-wrapper {
  padding: 2rem;
  min-height: 100vh;
  background-color: #a370f7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.details-card {
  background-color: #ffffff;
  color: #2e2e2e;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  width: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }

  .details-title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
  }

  .details-text {
    margin: 0.4rem 0;
    line-height: 1.6;
  }
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.details-btn {
  padding: 8px 15px;
  background-color: #1e1b2e;
  color: white;
  border-radius: 5px;
  margin-left: 4px;
  margin-top: 5px;
  cursor: pointer;

  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    background-color: #723187;
    transform: translateY(-2px);
  }
}
